#ticTacContent{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#trumpContainer{
	display:none;
	height: 190px;
	width:340px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(TicTacToePics/Trump.jpg);
}

#KimjongContainer{
	display:none;
	height: 190px;
	width:340px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(TicTacToePics/KimJong.jpg);
}

#ticTacArea{
	display:flex;
	flex-direction: column;
}

.ticTacFieldHor{
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.ticTacFieldVer{
	margin:10px;
	width:50px;
	height:50px;
	border:1px solid black;
}

#animationContainer{
	display:flex;
	flex-direction: column;

	height:100px;
	width:100%;

}

#squareContainer{
	display:flex;
	justify-content: center;

	height:100%;
	width:100%;
}

#squareButtons{
	display:flex;
	flex-direction: row;
	position:absolute;
	justify-content: center;
	height: 100px;
}

#square{
	display:none;

	height:100%;
	width:10%;
	background-color: green;
}

#canvasContainer{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#canvasArea{
	border: 1px solid black;
}

#progressBarContainer{
	display:flex;
	flex-direction: column;
	width:1000px;
	margin:auto;

	border:2px solid black;
}

#progressBar{
	display:flex;
	flex-direction: row-reverse;

	height:40px;
	width:0%;

	border-bottom: 2px solid black;

	background-color: green;

	text-align: center;
	font-family: Arial;
}

#progress{
	font-size: 20px;
	text-align: center;
	font-family: arial;
	width:60px;
	background-color: orange;
	margin:auto;

	border-radius: 5px;
}

#loadProgress{
	width:60px;
	margin:auto;
}

#navigationBar{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 60px;

	list-style-type: none;
	background-color: green;
}

#catContainer{
	display:flex;
	flex-direction: row;
	height:100%;
}

.navItem{
	display:flex;
	align-items: center;
	justify-content: center;

	width: 150px;
	height:100%;

	background-color: orange;
}

.dropbtn{
	display:flex;
	align-items: center;
	justify-content: center;

	border:none;
	background-color: white;
	cursor:pointer;

	height:100%;
	width: 150px;

	background-color: orange;
}

#animationsDrp{
	display:flex;
	justify-content: center;
	align-items: center;

	position:relative;
	display:inline-block;
}

.animations-content{
	display:flex;
	justify-content: center;
	display:none;
	position:absolute;
}

.animations-content a{
	display:flex;
	justify-content: center;
	align-items: center;

	display:block;
	text-decoration: none;
	max-width:150px;
	height:60px;

	padding-top: 25px;
	padding-left: 20px;

	background-color: orange;
}

.animations-content a:hover{
	background-color: grey;
}

#animationsDrp:hover .animations-content{
	display:block;
}

.navItem:hover{
	background-color: grey;
}
